#options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

#nav-links {
  display: flex;
  align-items: center;
}

#nav-links li {
  margin-right: 1em;
}

#nav-links svg {
  font-size: 1.5em;
}
