* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #171717;
  color: #ffff;
}

a {
  color: #fafafa;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: "Quicksand", sans-serif;
}
