.user-page {
  padding: 1em 1.5em;
  text-align: center;
  background-color: #000000;
  border: #ffffff;
  border-radius: 25px;
  margin: 1em;
  width: 40%;
  height: auto;
}

body.modo-claro {
  background-color: #ffffff;
}

.user-page.modo-claro {
  background-color: #f0f0f0;
  color: #000000;
}

.user-page.modo-escuro {
  background-color: #000000;
}

.photo-profile {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.user-name {
  margin: 0.5em 0;
}

.fixed-buttons {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  padding: 0.5em;
  border: 2px solid #171717;
  border-left: none;
  border-right: none;
  margin: 0.5em 0;
}

#fixed-button img {
  height: 2.5em;
}

#fixed-button {
  cursor: pointer;
}

.buttons {
  margin-top: 1em;
}

.label {
  color: #000000;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1.2px;
  font-family: "Fira Sans", sans-serif;
}

.square-button-long {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em;
  align-items: center;
  border-radius: 10px;
  margin: 0 auto 0.5em auto;
  font-family: "Fira Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  .user-page {
    width: 100%;
    margin: 1em;
    border: none;
    padding: 1.5em 0;
  }

  .photo-profile {
    width: 150px;
    height: 150px;
  }

  .square-button-long {
    width: 90%;
  }
}
