.user-page {
  padding: 1.5em 2em;
  text-align: center;
  width: 100%;
}

.photo-profile {
  border-radius: 50%;
  margin: 1em 0 0 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.user-name {
  margin: 0.5em 0 1.5em 0;
}

.label {
  color: #000000;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-family: "Fira Sans", sans-serif;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions svg {
  cursor: pointer;
  font-size: 1.5em;
  color: #ffffff;
}

#delete {
  color: #ee2c2c;
  background-color: #e9aeae;
  border-radius: 50%;
  padding: 2px;
}

.square-button-long {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin: 0 auto 1.5em auto;
  font-family: "Fira Sans", sans-serif;
}

.square-button-long a {
  display: flex;
  align-items: center;
}

.square-button-long img {
  margin: 0.5em;
}

@media screen and (max-width: 768px) {
  .user-page {
    width: 100%;
    margin: 0;
    border: none;
    padding: 1.5em 0;
  }

  .photo-profile {
    width: 150px;
    height: 150px;
  }

  .square-button-long {
    width: 80%;
  }
}
