.edit-page {
  width: 40%;
  margin: 2em auto;
  text-align: center;
}

input [type="file"] {
  display: none;
}

#button-background {
  display: block;
  padding: 1em 0.5em;
  background-color: #d67f0c;
  border-radius: 10px;
  margin-bottom: 1em;
  cursor: pointer;
  text-align: center;
}

#button-background span {
  color: #000000;
  padding: 0.2em 0.1em;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

input[type="color"] {
  width: 30%;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: #d67f0c;
  margin: 1em auto;
}

/* #handle-color {
  width: 5em;
  height: 2em;
  text-align: center;
} */

#titulo {
  margin: 1em 0;
  color: #d67f0c;
}

.background-image {
  border: 3px solid #d67f0c;
  margin: 1em 0 1em 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.add-button {
  background-color: #d67f0c;
  color: #000000;
  padding: 1em;
  max-width: 50%;
  border-radius: 15px;
  margin: 0 auto;
}

.buttons {
  margin-top: 1.5em;
  background-color: #000000;
  padding: 1em 2em;
  border-radius: 15px;
}

.label {
  color: #000000;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-family: "Fira Sans", sans-serif;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 0.3em 1em;
}

.actions svg {
  cursor: pointer;
  font-size: 1.5em;
  color: #ffffff;
}

#delete {
  color: #ee2c2c;
  background-color: #e9aeae;
  border-radius: 50%;
  padding: 2px;
}

.square-button-long {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em;
  align-items: center;
  border-radius: 10px;
  margin: 0 auto 1.5em auto;
  font-family: "Fira Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  .edit-page {
    width: 100%;
    margin: 0;
    border: none;
    padding: 1em;
  }

  .add-button {
    background-color: #d67f0c;
    color: #000000;
    padding: 1em;
    max-width: 50%;
    border-radius: 15px;
    margin: 0 auto;
  }
}
